/Debug/
/Release/
/Alfa-166-CD-Changer-Unilink-Emulator Debug attach.cfg
/Alfa-166-CD-Changer-Unilink-Emulator Debug attach.launch
/Alfa-166-CD-Changer-Unilink-Emulator Debug.cfg
/Alfa-166-CD-Changer-Unilink-Emulator Debug.launch
/Alfa-166-CD-Changer-Unilink-Emulator Run.cfg
/Alfa-166-CD-Changer-Unilink-Emulator Run.launch
/mx.scratch
/.mxproject
